// Define variables for your color scheme

// For example:
$red: #822;
$brightred: #C3073F;
$darkred: #6F2232;
$mediumred: #950740;
$blue: #190061;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5CDB95;
$brown: #907163;
$gray: #4E4E50;
$light-gray: #adadad;

// Background and font colors
$black: #1A1A1D;
$white: white;
