<h1>My previous Shopping Carts</h1>
<div class="container my-3">
  <% @shopping_carts.each do |cart| %>
    <% unless cart.active %>
      <div class="card bg-dark text-white p-3 m-2">
        <p class="m-0"><strong>Shopping cart nยบ <%= cart.id %></strong></p>
        <hr>
        <ol>
          <% cart.shopping_items.each do |item| %>
            <li> <%= link_to "#{item.wand.name}", wand_path(item.wand), class:'btn' %> | Number: <%= item.quantity %></li>
          <% end %>
        </ol>
        <p>Cart created at: <%= cart.created_at %></p>
      </div>
    <% end %>
  <% end %>
</div>
