<h1>Wands Market</h1>
<p>wands available to buy</p>

<table class="table m-3">
  <thead>
    <tr>
      <th scope="col">User selling</th>
      <th scope="col">Wand name</th>
      <th scope="col">Wand price ($)</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <% @wands.each do |wand| %>
      <tr>
        <td><%= wand.user.first_name  %></td>
        <td><%= wand.name  %></td>
        <td>$ <%= wand.price  %></td>
        <td><%= link_to 'Show', wand_path(wand)  %></td>
      </tr>
    <% end %>

  </tbody>
</table>
