// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";

// Custom styles
body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 100px;
  /* Set same as footer's height */
}

.titling {
  font-family: $titling-font  !important;
}

.brand {
  font-family: $brand-font;
  font-size: 32px;
}

.brand-img {
  height: 30px;
}

.navbar {
  font-family: $headers-font;
}

.text-white {
  color: white !important;
}

.carousel-item img {
  height: 100px;
}

.nav-item {
  position: relative;
  size: 40px;
  margin: 0 10px;
}

.card-circle {
  border-radius: 50%;
  background-color: $darkred;
  font-size: 15px;
  position: absolute;
  top: -13px;
  right: -5px;
  height: 20px;
  width: 20px;
}

.card-circle .cart-amount {
  color: $white;
  text-align: center;
  font-size: 15px;
  size: 20px;
}

.card-circle {
  border-radius: 50%;
  font-size: 15px;
  position: absolute;
  top: -13px;
  right: -5px;
  height: 20px;
  width: 20px;
}


// Media queries to adjust Navbar
@media(max-width: 576px) {
  #user-info {
    display: none;
  }

  .navbar-brand {
    display: none;
  }
}

@media(min-width: 576px) {
  #offcanvas-info {
    display: none;
  }
}
